<div class="list-group-item">
  <h4 class="user">
    <span class="user-name">
      <% if u.screen_name != nil %>
        <%= link_to u.screen_name, user_path(u) %>
      <% else %>
        <%= link_to u.name, user_path(u) %>
      <% end %>
    </span>
    <span class="user-id">
      <%= u.name %>
    </span>
  </h4>
  <div class="bio">
    <%= u.bio %>
  </div>
  <div class="follow-unfollow">
    <% if current_user.id != u.id %>
      <% if u.followed_by? current_user %>
        <%= link_to "フォロー解除", user_follows_path(u), method: :delete %>
      <% else %>
        <%= link_to "フォロー", user_follows_path(u), method: :post %>
      <% end %>
    <% end %>
  </div>
</div>
