<div class="col-xs-8" id="users-content">
  <% unless @user.id == current_user.id %>
    <% if (current_user.followed_by? @user) && (@user.followed_by? current_user)  %>
      <% if @isRoom == true %>
        <p class="user-show-room">
          <a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">
            ダイレクトメッセージ
          </a>
        </p>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "ダイレクトメッセージ", class:"btn btn-primary btn-lg user-show-chat"%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= render partial: "users/header" %>
    <div class="list-group">
      <% if @user.tweets.empty? %>
        <div class="list-group-item">
          まだツイートはありません
        </div>
      <% end %>
      <%= render partial: "users/tweet", collection: @user.tweets, as: "t" %>
    </div>
  </div>
</div>
